# Environment
.env
.env.local

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Backup files
app_backup.py

# Vite cache
.vite/

# VS Code
.vscode/

# macOS
.DS_Store
*/**/.DS_Store

# Node
node_modules/
